/* ========================================================
|| GENERAL STYLES
=========================================================== */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

/* ========================================================
|| UTILITIES
=========================================================== */

.container {
  max-width: 1350px;
  margin: 0px auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.debugging {
  border: 1px solid red;
}

/* ========================================================
|| TYPOGRAPHY
=========================================================== */

html {
  font-family: Helvetica, Arial, sans-serif;
}

/* ========================================================
|| SITEWIDE
=========================================================== */

/*
 * Navigation Menu
 */
.menu {
  padding: 4rem 0;
}

.menu a {
  margin: 0 2rem;
  font-size: 1.5rem;
  color: hsla(210, 17%, 55%, 1);
  text-decoration: none;
}

/*
 * Don't use empty rulesets as linters will often complain about this and show
 * errors. Reason for this is it can have a slight effect on performance and
 * is not to standards.
 * Source:
 * https://stackoverflow.com/questions/32464170/visual-studio-code-css-error-do-not-use-empty-rulesets
 */
/* .menu a:link {

}

.menu a:visited {

}

.menu a:focus {

} */

.menu a:hover {
  color: white;
}

/* .menu a:active {

} */

.menu-main {
  align-items: center;
}

.menu-items a:nth-child(6) {
  color: linear-gradient(15deg ,#ffb291,#da7bf6);
}

.menu-items a:nth-child(6)::after {
  content: "✨";
}

.menu-actions {
  justify-content: center;
  align-items: center;
}

.menu-actions > a.signup {
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(181.81deg,#6333ff 25%,#441ebf 75%);
}